@font-face {
    font-family: 'untitled2regular';
    src: url('z340-z408-combined-font-monospaced-webfont.woff2') format('woff2'),
    url('z340-z408-combined-font-monospaced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#solutionTable {
    margin-top: 36px;
}

.cipherText {
    font-family: 'untitled2regular';
    line-height: 0.8em;
    font-size: 22pt;
}

td {
    padding: 2px;
    height: 25px;
}

#app {
    width: 100%;
}

.panel {
    width: auto;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

.englishLetter {
    width: 20px;
    float: left;
    text-align: right;
    padding-top: 5px;
}

.letterInput {
    margin: auto;
    float: left;
    width: 120px;
}

.letterRow {
    clear:both;
}

.zodiacCharCell {
    text-align: center;
}

.cipherTable {
    border-collapse: collapse;
}

.cipherTable, td {
    border: 1px solid grey;
}

.panelHeader {
    text-align: center;
    background-color: #bbb2b2;
    margin: 5px 0 15px 0;
}

.draggable {
    cursor: move;
}

.solutionChar {
    min-height: 25px;
    min-width: 25px;
    text-align: center;
    line-height: 26px;
    font-family: "Lucida Console", Monaco, monospace;
}

.cipherText td:hover {
    background-color: #c4c4c4;
}

.ghostHilight {
    background-color: #c4c4c4;
}