@font-face {
    font-family: 'untitled2regular';
    src: url('z340-z408-combined-font-monospaced-webfont.woff2') format('woff2'),
    url('z340-z408-combined-font-monospaced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cipherText {
    font-family: 'untitled2regular';
}
table {
  line-height: 1;
}
th {
  font-family: Verdana;
  text-align: center;
}
td {
  font-size: 1.9rem;
  border: 1px solid grey;
  height: 35px;
  width: 35px;
  text-align: center;
}
.form-control {
  padding: .175rem .15rem;
  font-size: 1.8rem;
  height: calc(0.9em + .75rem + 2px);
}

.input-group-text {
    width: 35px;
}
.key-letter-wrapper {
  margin-bottom: 2px;
}
